body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    margin: 0;
    font-family: Arial, sans-serif;
    --dragon: #f218d9f6;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('./images/bg.jpg');
    background-size: cover;
    background-position: center;
}